<h1>コメント</h1>

<%= form_for @comment, :url => {:action => :new} do |c| %>
  <div class="field">
    <%= c.label :content %></br>
    <%= c.text_area :content %>
  </div>
<% end %>
<%= button_to '投稿', post_comments_path(params[:post_id]) %></br>
<%= link_to '戻る', :back %>