<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <h3><%= @detail.title %></h3>
      <p><%= @detail.user_name %></p>
      <p><%= @detail.content %></p>
      <div class="post-menus">
        <%= button_to 'コメント', new_post_comment_path(params[:id], cookies[:user_id]) %>
        <%= button_to '削除', post_path(params[:id]), method: :delete, data: { confirm: "この投稿を削除しますか？" } %>
      </div>
    </div>
    <% if @comments.nil? %>
      <div class="comments-show-item">
        <p><%= @comments.user_name %></p>
        <p><%= @comments.content %></p>
      </div>
    <% end %>
  </div>
</div>