<h1><%= @detail.title %></h1>
<p><%= @detail.user_id %></p>
<p><%= @detail.content %></p>

<%= link_to '削除', post_path(params[:id]), method: :delete, data: { confirm: "You sure?" } %>

<%= link_to 'コメント', 'comment' %>